$font:Outfit(https://fonts.google.com/specimen/Outfit);

// Color
$white: hsl(0, 0%, 100%);
$grey: hsl(212, 45%, 89%);
$Grayishblue: hsl(220, 15%, 55%);
$Darkblue: hsl(218, 44%, 22%);




*{
    margin: 0;
}